<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nx/thymeleaf/layout">
	<!-- Begin Header -->
	<div id="header" th:fragment="headerFragment">
		<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

		    <a class="navbar-brand mr-1" href="/">ksmart32</a>		
		    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
		      <i class="fas fa-bars"></i>
		    </button>
		    <!-- Navbar Search -->
		    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
		      <div class="input-group">
		        <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
		        <div class="input-group-append">
		          <button class="btn btn-primary" type="button">
		            <i class="fas fa-search"></i>
		          </button>
		        </div>
		      </div>
		    </form>
		
		    <!-- Navbar -->
		    <ul class="navbar-nav ml-auto ml-md-0">
		      <li class="nav-item dropdown no-arrow mx-1">
		        <a class="nav-link dropdown-toggle" th:href="@{/login}" id="messagesDropdown" th:if="${session.SID eq null}" data-toggle="tooltip" title="로그인">
		          <i class="fas fa-sign-in-alt"></i>로그인
		        </a>
		      </li>
		        <th:block th:unless="${session.SNAME eq null}">
					<label class="nav-link dropdown no-arrow"  style="color:lightgreen;">
					당신의 아이디 [[${session.SID}]] [[${session.SNAME}]] 님 
					[[${session.SLEVEL}]] 권한</label>
				</th:block>
		      <li class="nav-item dropdown no-arrow">
		        <a class="nav-link dropdown-toggle" href="#" id="userDropdown"  th:unless="${session.SID eq null}"  data-toggle="modal" data-target="#logoutModal" title="로그아웃">
		          <i class="fas fa-user-circle fa-fw"></i>로그아웃
		        </a>
		      </li>
		    </ul>
		
		  </nav>
	</div>
	<!-- End Header -->

</html>