<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default}">
<body>
	<th:block layout:fragment="customTitle">
		<title>회원수정</title>
	</th:block>
	<th:block layout:fragment="customContents">
	<label><h3>회원수정하기</h3></label>
		<form action="/userUpdate" method="post">	
			<table class="table table-bordered table-sm">
				<tr>
					<td>아이디</td>
					<!-- get방식으로 /userUpdate 요청에 의해 응답된 User 데이터 타입의 값이 userById라는 명칭으로 controller단에서 넘어왔으니
					필요한 데이터를 찾아 th:value형식으로 화면에 뿌려준다 -->
					<td><input type="text" name="userId" readonly="readonly" th:value="${userById.userId}" /></td>
				</tr>
				<tr>
					<td>비밀번호</td>
					<td><input type="password" name="userPw" th:value="${userById.userPw}" /></td>
				</tr>
				<tr>
					<td>권한</td>
					<td>
						<select name="userLevel" th:value="${userById.userLevel}">
							<option value="">선택</option>
							<option value="판매자">판매자</option>
							<option value="구매자">구매자</option>
							<option value="관리자">관리자</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>이름</td>
					<td><input type="text" name="userName" th:value="${userById.userName}" /></td>
				</tr>
				<tr>
					<td>이메일</td>
					<td><input type="text" name="userEmail" th:value="${userById.userEmail}" /></td>
				</tr>
				<tr>
					<td>전화번호</td>
					<td><input type="text" name="userPhone" th:value="${userById.userPhone}" /></td>
				</tr>
				<tr>
					<td>주소</td>
					<td><input type="text" name="userAddr" th:value="${userById.userAddr}" /></td>
				</tr>
				<tr style="text-align: center;">
					<td colspan="2">
					<button type="submit" class="btn btn-primary btn-block">정보수정하기</button>
					</td>
				</tr>
			</table>
		<label th:if="${result ne null}" th:text="${result}"></label>
	</form>	
	</th:block>
	
</body>
</html>